/*** 
* QUOTES
***/

.quotes {
    color: $grayDark;
    margin-bottom: 4rem;
    // display: flex;
    // flex-flow: column wrap;

    &::before { content: '\201c';
                color: $accent;
                font-style: normal;
                font-size: 5rem;
                font-weight: bold;
                font-family: arial;
                height: 100%;
                margin-top: auto;
                margin-bottom: auto;
    }

    //&::after { content: '\201d'; color: $accent; font-style: normal; font-size: 5rem; font-weight: bold; font-family: arial};

    #quote {
        color: $blue;
        font-weight: bold;
        letter-spacing: normal;
        font-size: 1.6rem;
        border-left: 6px solid $accent;
    }

    figcaption {
        text-align: center;
    }

}