$accent: rgba(226, 127, 81, 0.75);
$blue: rgba(114, 159, 207, 1);
$blue-hover: rgba(114, 159, 207, 0.5);
$grayLight: rgb(193, 192, 199);
$grayDark: rgb(131, 131, 133);
$white: rgb(248, 249, 252);
$black: rgba(18, 22, 25, 0.8);

