<p><h2><span id="greetings"></span></h2></p>

<script>
    (function addRandomGreetings() {
        const greetings =
            [
               "Welcome to the bonfire, Unkindled One!" ,
               "Stay awhile and listen...",
               "Greetings Exile!",
               "Your name's... uh... Chumpy, right?"
            ]


        /* RNG */
        function getRNG(){
            return Math.floor(Math.random()*Math.floor(greetings.length));
        };

        const rng = getRNG()

        g = document.getElementById("greetings");

        g.innerHTML = greetings[rng];

    })();
</script>