<p><figcaption class="quotes">
    <blockquote id="quote"></blockquote>
    <figcaption>&mdash;&nbsp;<span id="author"></span>,&nbsp;<cite id="citation"></cite></figcaption>
</figcaption></p>

<script>
    (function addRandomQuote() {
        const quotes =
            [
                {
                    "author": "JBP",
                    "quote": "To those who have everything, more will be given; and to those who have nothing, everything will be taken.",
                    "citation": "12 Rules for Life"
                },
                {
                    "author": "Matt Barnes",
                    "quote": "You can't wash away the high",
                    "citation": "All The Smoke"
                },
                {
                    "author": "Dame",
                    "quote": "the Lord of Light Hearted Chemistry is very powerful, to the humble it giveth, but to the greedy he take it away.",
                    "citation": "Game of Zones"
                },
                {
                    "author": "proverb",
                    "quote": "No plough stops for a dying man.",
                    "citation": "Landscape with the Fall of Icarus"
                },
                {
                    "author": "GVMERS",
                    "quote": "Sometimes, success is only possible if it straddles the border of disaster.",
                    "citation": "The Rise and Fall of S.T.A.L.K.E.R"
                },
                {
                    "author": "American Gangster",
                    "quote": "The only way a goldfish can eat a shark is a whole lot of little bites",
                    "citation": " "
                }
            ]


        /* RNG */
        function getRNG(){
            return Math.floor(Math.random()*Math.floor(quotes.length));
        };

        const rng = getRNG()

        q = document.getElementById("quote");
        a = document.getElementById("author");
        c = document.getElementById("citation");

        q.innerHTML = quotes[rng].quote;
        a.innerHTML = quotes[rng].author;
        c.innerHTML = quotes[rng].citation;

    })();
</script>